.App {
  text-align: center;
  /* background-image: url("books-1655783.jpg"); */
  background-color: rgb(144, 156, 157);
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Rubik', sans-serif;
  color: rgb(250, 255, 252);
  text-decoration: 'none';
  
}

a:visited { 
  text-decoration: none; 
  color: rgb(250, 255, 252);
 }
.navbar{
  /* padding: 10px; */
  justify-content: space-between;
  font-size: 22px;
  font-weight: 400;
}
*{
  list-style: none
}
.button{
  border-style: none;
  border-radius: 5px;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}